img.new {
  margin:0;
  position:relative;
  top:-1px;
  left: 1px;
}

div.images {
  overflow: auto;
  max-height: 203px;
}

div.images img {
  margin: 10px;
  border: 2px solid #afafaf;
}

#images-uploading {
  overflow: auto;
  max-height: 243px;
}