<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>account</key>
	<dict>
		<key>model</key>
		<string>Account</string>
		<key>view</key>
		<string>account</string>
	</dict>
	<key>account_favourites</key>
	<dict>
		<key>model</key>
		<string>AccountFavourites</string>
		<key>view</key>
		<string>account_favourites</string>
	</dict>
	<key>account_orders</key>
	<dict>
		<key>model</key>
		<string>AccountOrders</string>
		<key>view</key>
		<string>account_orders</string>
	</dict>
	<key>account_settings</key>
	<dict>
		<key>model</key>
		<string>AccountSettings</string>
		<key>view</key>
		<string>account_settings</string>
	</dict>
	<key>basket</key>
	<dict>
		<key>model</key>
		<string>Basket</string>
		<key>view</key>
		<string>basket</string>
	</dict>
	<key>brands</key>
	<dict>
		<key>model</key>
		<string>Brands</string>
		<key>view</key>
		<string>brands</string>
	</dict>
	<key>category</key>
	<dict>
		<key>model</key>
		<string>Category</string>
		<key>view</key>
		<string>category</string>
	</dict>
	<key>downloads</key>
	<dict>
		<key>model</key>
		<string>Downloads</string>
		<key>view</key>
		<string>downloads</string>
	</dict>
	<key>featured</key>
	<dict>
		<key>model</key>
		<string>Featured</string>
		<key>view</key>
		<string>featured</string>
	</dict>
	<key>home</key>
	<dict>
		<key>model</key>
		<string>Home</string>
		<key>view</key>
		<string>home</string>
	</dict>
	<key>item</key>
	<dict>
		<key>model</key>
		<string>Item</string>
		<key>view</key>
		<string>item</string>
	</dict>
	<key>item_desc</key>
	<dict>
		<key>model</key>
		<string>ItemDescription</string>
		<key>view</key>
		<string>item_description</string>
	</dict>
	<key>login</key>
	<dict>
		<key>model</key>
		<string>Login</string>
		<key>view</key>
		<string>login</string>
	</dict>
	<key>logout</key>
	<dict>
		<key>model</key>
		<string>Logout</string>
		<key>view</key>
		<string>logout</string>
	</dict>
	<key>news</key>
	<dict>
		<key>model</key>
		<string>News</string>
		<key>view</key>
		<string>news</string>
	</dict>
	<key>page</key>
	<dict>
		<key>model</key>
		<string>Page</string>
		<key>view</key>
		<string>page</string>
	</dict>
	<key>pitem</key>
	<dict>
		<key>model</key>
		<string>ParentItem</string>
		<key>view</key>
		<string>parent_item</string>
	</dict>
	<key>pitem_desc</key>
	<dict>
		<key>model</key>
		<string>ParentItemDescription</string>
		<key>view</key>
		<string>parent_item_description</string>
	</dict>
	<key>search</key>
	<dict>
		<key>model</key>
		<string>Search</string>
		<key>view</key>
		<string>search</string>
	</dict>
	<key>submit</key>
	<dict>
		<key>model</key>
		<string>Submit</string>
		<key>view</key>
		<string>submit</string>
	</dict>
	<key>request_notify</key>
	<dict>
		<key>model</key>
		<string>ItemRequestNotification</string>
		<key>view</key>
		<string>request_notify</string>
	</dict>
	<key>item_ticket</key>
	<dict>
		<key>view</key>
		<string>item_ticket</string>
		<key>model</key>
		<string>ItemTicket</string>
	</dict>
	<key>item_favourite</key>
	<dict>
		<key>model</key>
		<string>ItemFavourite</string>
		<key>view</key>
		<string>item_favourite</string>
	</dict>
	<key>item_question</key>
	<dict>
		<key>view</key>
		<string>item_question</string>
		<key>model</key>
		<string>ItemQuestion</string>
	</dict>
	<key>account_orders_view</key>
	<dict>
		<key>view</key>
		<string>account_orders_view</string>
		<key>model</key>
		<string>AccountOrdersView</string>
	</dict>
	<key>account_orders_notes</key>
	<dict>
		<key>view</key>
		<string>account_orders_notes</string>
		<key>model</key>
		<string>AccountOrdersNotes</string>
	</dict>
	<key>tag</key>
	<dict>
		<key>view</key>
		<string>tag</string>
		<key>model</key>
		<string>Tag</string>
	</dict>
	<key>stock_download</key>
	<dict>
		<key>view</key>
		<string>stock_download</string>
		<key>model</key>
		<string>StockDownload</string>
	</dict>
	<key>unsubscribe</key>
	<dict>
		<key>view</key>
		<string>unsubscribe</string>
		<key>model</key>
		<string>Unsubscribe</string>
	</dict>
	<key>stat_portal</key>
	<dict>
		<key>view</key>
		<string>stat_portal</string>
		<key>model</key>
		<string>StatPortal</string>
	</dict>
	<key>attribute</key>
	<dict>
		<key>view</key>
		<string>attribute</string>
		<key>model</key>
		<string>Attribute</string>
	</dict>
	<key>portal</key>
	<dict>
		<key>view</key>
		<string>portal</string>
		<key>model</key>
		<string>Portal</string>
	</dict>
	<key>top</key>
	<dict>
		<key>view</key>
		<string>top</string>
		<key>model</key>
		<string>Top</string>
	</dict>
	<key>item_ticket_print</key>
	<dict>
		<key>view</key>
		<string>item_ticket_actual</string>
		<key>model</key>
		<string>ItemTicketPrint</string>
	</dict>
</dict>
</plist>