<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dashboard</key>
	<dict>
		<key>title</key>
		<string>Dashboard</string>
		<key>permissions</key>
		<array>
			<string>login</string>
		</array>
	</dict>
	<key>inventory</key>
	<dict>
		<key>title</key>
		<string>Inventory</string>
		<key>permissions</key>
		<array>
			<string>categories</string>
			<string>items</string>
		</array>
	</dict>
	<key>dealers</key>
	<dict>
		<key>title</key>
		<string>Dealers</string>
		<key>permissions</key>
		<array>
			<string>account</string>
		</array>
	</dict>
	<key>orders</key>
	<dict>
		<key>title</key>
		<string>Orders</string>
		<key>permissions</key>
		<array>
			<string>orders</string>
		</array>
	</dict>
	<key>images</key>
	<dict>
		<key>title</key>
		<string>Images</string>
		<key>permissions</key>
		<array>
			<string>items</string>
		</array>
	</dict>
	<key>website</key>
	<dict>
		<key>title</key>
		<string>Websites</string>
		<key>permissions</key>
		<array>
			<string>website</string>
		</array>
	</dict>
	<key>data</key>
	<dict>
		<key>title</key>
		<string>Data</string>
		<key>permissions</key>
		<array>
			<string>data</string>
		</array>
	</dict>
	<key>statistics</key>
	<dict>
		<key>title</key>
		<string>Statistics</string>
		<key>permissions</key>
		<array>
			<string>stats</string>
		</array>
	</dict>
	<key>system</key>
	<dict>
		<key>title</key>
		<string>System</string>
		<key>permissions</key>
		<array>
			<string>system</string>
			<string>logs</string>
		</array>
	</dict>
	<key>logout</key>
	<dict>
		<key>title</key>
		<string>Log Out</string>
		<key>permissions</key>
		<array>
			<string>login</string>
		</array>
	</dict>
</dict>
</plist>