<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aquamarine</key>
	<dict>
		<key>colour</key>
		<string>#8ef8c2</string>
		<key>name</key>
		<string>Aquamarine</string>
	</dict>
	<key>blue</key>
	<dict>
		<key>colour</key>
		<string>#8e93f8</string>
		<key>name</key>
		<string>Blue</string>
	</dict>
	<key>gray</key>
	<dict>
		<key>colour</key>
		<string>#d7d7d7</string>
		<key>name</key>
		<string>Gray</string>
	</dict>
	<key>green</key>
	<dict>
		<key>colour</key>
		<string>#93f88e</string>
		<key>name</key>
		<string>Green</string>
	</dict>
	<key>orange</key>
	<dict>
		<key>colour</key>
		<string>#f8b88e</string>
		<key>name</key>
		<string>Orange</string>
	</dict>
	<key>pink</key>
	<dict>
		<key>colour</key>
		<string>#f88ef7</string>
		<key>name</key>
		<string>Pink</string>
	</dict>
	<key>red</key>
	<dict>
		<key>colour</key>
		<string>#f88e8e</string>
		<key>name</key>
		<string>Red</string>
	</dict>
	<key>salmon</key>
	<dict>
		<key>colour</key>
		<string>#f8a48e</string>
		<key>name</key>
		<string>Salmon</string>
	</dict>
	<key>turquoise</key>
	<dict>
		<key>colour</key>
		<string>#8eeff8</string>
		<key>name</key>
		<string>Turquoise</string>
	</dict>
	<key>violet</key>
	<dict>
		<key>colour</key>
		<string>#c78ef8</string>
		<key>name</key>
		<string>Violet</string>
	</dict>
	<key>yellow</key>
	<dict>
		<key>colour</key>
		<string>#f8f28e</string>
		<key>name</key>
		<string>Yellow</string>
	</dict>
</dict>
</plist>
